<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex, nofollow">


    {% block title %}
    
    {% endblock %}
    <link href="{{ url_for('static', path='/vendor/bootstrap-4.6.2-dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/vendor/bootstrap-table-master/dist/bootstrap-table.min.css') }}" rel="stylesheet" />


    </head>
    <body class="bg-light d-flex flex-column h-100">


       {% block content %}
      
       {% endblock %}
<footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
                <span class="text-muted"><small> © Created by {{settings.CREATOR}}</small> </span>
            </div>
        </footer>

    <script defer src="{{ url_for('static', path='/js/jquery-3.6.0.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/bootstrap-4.6.2-dist/js/bootstrap.bundle.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/tableExport.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/bootstrap-table-master/dist/bootstrap-table.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/bootstrap-table-export.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/main.js') }}"></script>


    {% block scripts %}
    {% endblock %}
    </main>
    </body>
</html>

