{% extends "shared/base.html" %}

{% block title %}
  <title>{{settings.PROJECT_NAME}} - {{settings.PROJECT_DESCRIPTION}} by {{settings.PROJECT_NAME}}</title>
{% endblock %}

{% block content %}

<div class="container-fluid">

<div class="text-center">


 <p class="firstLine">{{settings.PROJECT_NAME}}  [ version {{settings.PROJECT_VERSION}} ]</p>
   
    <p class="secondLine">{{settings.PROJECT_DESCRIPTION}}</p>
 

<div class="row justify-content-center">


    <form id="data" class="d-none">
    <select id="brands" class="InputStyle multiselect" placeholder="Email me when it's ready&#xf0e0;">

      </select>
    <select id="region" class="InputStyle multiselect" placeholder="Email me when it's ready&#xf0e0;">
    <option class="region" value="RU-MOW">Москва и МО</option>
    <option class="region" value="RU-SPE">Санкт-Петербург и ЛО</option>
      </select>
    <button id="scrape" type="submit" class="btn btn-dark">scrape!</button>
  </form>


</div>

<div class="row justify-content-center">
  <div id="loader" class="d-none"> 
  <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
  <circle fill="#000" stroke="none" cx="6" cy="50" r="6">
    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15" repeatCount="indefinite" begin="0.1" />
  </circle>
  <circle fill="#000" stroke="none" cx="30" cy="50" r="6">
    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10" repeatCount="indefinite" begin="0.2" />
  </circle>
  <circle fill="#000" stroke="none" cx="54" cy="50" r="6">
    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5" repeatCount="indefinite" begin="0.3" />
  </circle>
</svg>
</div>
</div>


  <div class="clearfix"></div>

<div class="container">
  <div class="row">

<div id="result" class="d-none">
  <div class="table-responsive">
    <table id="table" class="table" data-show-export="true" data-custom-sort="customSort">
        <thead>
            <tr>
                <th data-field="product_id">id</th>
                <th data-field="product_title">Title</th>
                <th data-field="product_price">Price</th>
                <th data-field="product_promo_price">Promo price</th>
                <th data-field="product_url">URL</th>
                <th data-field="region">Region</th>
                <th data-field="available">Available</th>
            </tr>
        </thead>
    </table>
</div>
</div>




   </div>
  </div>

  </div>
  </div>



{% endblock %}
