.bg{
    width: 100%;
    height:auto;
	min-height:100vh;
    background-image:url(/static/images/bg.png);
    background-size: 100% 100%;
    background-position: top center;
  }

  .content{
margin-top: 20%;
  }

  .centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.InputStyle{
  border-radius: 25px;
  border: solid 1px black;
 background: transparent;
 width: 300px;
    padding: 10px 20px;
}



input,input::-webkit-input-placeholder {
    font-size: 12px;
  color:black;
}

.social-btn{
 position: absolute; 
  bottom: 20px;
  left: 47%;
}

i{
 padding:5px;
  color:black;

}

input, input:focus{
  border: solid 1px black;
        outline:0; 
        -webkit-appearance:none;
        box-shadow: nones;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
}

.secondLine{
  font-weight: 350;
  font-size:15px;
  margin-bottom: 15%;
  color: black;

}

.firstLine{
font-size: 30px;
color: black;
}

@media only screen and (max-width: 600px) {
  .firstLine{
font-size: 20px;
}
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
